services:
  playwright-app:
    build: 
      context: .
      dockerfile: Dockerfile
    image: teoncred-qa-runner:latest
    container_name: qa-director-runner
    shm_size: '2gb'
    
    volumes:
      - .:/app
      - /app/node_modules
      - ./target:/app/target
      - ./test-results:/app/test-results
      - ./playwright-report:/app/playwright-report
      
    environment:
      # Mapeamos las variables para que Docker las reciba del sistema operativo
      - BASE_URL=${BASE_URL}
      - API_KEY_SPEI=${API_KEY_SPEI}
      - DB_PASSWORD=${DB_PASSWORD}
      - AUDITOR_USER=${AUDITOR_USER}
      - AUDITOR_PASS=${AUDITOR_PASS}
      - RUN_ID=${RUN_ID:-Ejecucion_Local}
      - BROWSER=${BROWSER:-chromium}
      - CI=true